:root {
    --body: #8c9eff;
    --cont: #eceff1;
    --line: #651fff;
    --txt: #007bfd;
    --light: #c5cae9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--body);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

.container {
    width: 1100px;
    max-width: 100%;
    padding: 40px;
    margin: 0 30px;
    background: var(--cont);
    position: relative;
}

.details {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order h1 {
    text-transform: uppercase;
}

.order span {
    color: var(--txt);
}

.date {
    font-size: 1.1rem;
}

.track {
    margin: 1cm 0 3cm;
}

#progress {
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1cm;
    position: relative;
    text-align: center;
}

#progress li {
    width: 20%;
    position: relative;
}

#progress li::before {
    content: '\2713';
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 50px;
    align-items: center;
    font-size: 5rem;
    height: 50px;
    background: var(--line);
    color: black;
    border-radius: 40%;
    z-index: 11111;
}

#progress li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--line);
    width: 1px;
    height: 100%;
    z-index: -1;
}

.lists {
    margin-top: -190px;
    height: -900px;
    display: inline;
    gap: 5em;
}

.list {
    display: inline;
    align-items: center;
    gap: 1em;
}

.list p {
    font-size: 1.1rem;
}

.list img {
    width: 50px;
}

.done {
    width: 30%;
    position: ;
}

.done {
    content: '\2713';
    font-size: 20px;
    background-color: #007bfd;
    background-size: contain;
    border-radius: 4px;
}

.undone {
    font-size: 20px;
    background-color: red;
    border-radius: 4px;
    width: 30%;
    position: relative;
}

